# Update for your instance and email provider, and save as .env

### required environment variables ################
LOOKER_INSTANCE=your-instance.looker.com
LOOKER_CLIENT_ID=123abc
LOOKER_CLIENT_SECRET=123abc123abc
### end of required environment variables #########


### required for actions that send emails #########
HUB_EMAIL_HOST_USER=email_user
HUB_EMAIL_HOST_PASSWORD=email_password
DEFAULT_FROM_EMAIL=admin.name+stub_hub@example.com
### end of required for actions that send emails ##


### OPTIONAL ######################################
# Optional but highly recommended you change:
# HUB_SECRET_KEY='you-really-should-change-this'

# HUB_TITLE=Stub Hub
# HUB_JUPYTER=False
# HUB_WORKING_DIR='/path/to/working/directory'
# HUB_MEDIA_ROOT='/path/to/media/root'

# Not required for SQLite:
# HUB_DB_USER=db_user
# HUB_DB_PASSWORD=db_password